# Database
DATABASE_URL=postgresql://user:password@localhost:5432/bewave_db

# Redis
REDIS_URL=redis://localhost:6379

# JWT
JWT_SECRET=your-super-secret-key-min-32-chars
JWT_REFRESH_SECRET=another-super-secret-key
JWT_EXPIRES_IN=30d
JWT_REFRESH_EXPIRES_IN=30d

# App
NODE_ENV=development
API_PORT=3001
API_HOST=0.0.0.0

# Frontend (Vite — prefixo VITE_)
VITE_API_URL=http://localhost:3001/api/v1
